@import '../../styles/base.scss';

* {
  padding: 0;
  text-align: center;
}

.loginPage {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  background: linear-gradient($themeColor, $themeColor1);
  >h1 {
    position: absolute;
    left: 50%;
    top: 50px;
    font-family: 'kaiti';
    font-size: 42px;
    color: #fff;
    transform: translateX(-50%);
    letter-spacing: 2px;
  }
  .loginCentrar {
    display: flex;
    align-self: center;
    width: 100%;
    font-family: 'dengxian';
    .loginBox {
      position: relative;
      width: 800px;
      min-height: 280px;
      margin: 0 auto;
      .loginInfo {
        position: absolute;
        width: 100%;
        height: 425px;
        z-index: 1;
        top: -50px;
        .infoLogin {
          position: relative;
          float: left;
          width: 50%;
        }
        .infoSignUp {
          position: relative;
          float: right;
          width: 50%;
        }
      }
      .imgBox {
        position: relative;
        top: -50px;
        width: 800px;
        height: 425px;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0px 0px 30px -10px rgba(255, 255, 255, 0.5);
      }
      .background {
        position: absolute;
        width: 1125px;
        top: -112.5px;
        left: -175px;
        img {
          width: 100%;
          opacity: 0.3;
          animation-name: animar_fondo;
          animation-duration: 20s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
    }
  }
}

.opcitiy {
  position: relative;
  background-color: rgba(230, 233, 235, 0.55);
  width: 70%;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 100px auto 0;
  padding: 15px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  p {
    margin-top: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  h2 {
    letter-spacing: 8px;
  }
}

.loginBtn,
.signUpBtn {
  position: relative;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 3px;
  background-color: transparent;
  color: $buttonColor;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 4px;
  transition: .5s;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  span {
    position: absolute;
    display: block;
  }
}

.signUpBtn:hover,
.loginBtn:hover {
  color: #fff;
  background-color: $buttonColor;
  border-radius: 5px;
  box-shadow: 0 0 5px $buttonColor,
            0 0 25px $buttonColor,
            0 0 50px $buttonColor,
            0 0 100px $buttonColor;
}


.form {
  position: absolute;
  overflow: hidden;
  top: -50px;
  left: 0px;
  width: 400px;
  height: 425px;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  .formImg {
    position: absolute;
    width: 1125px;
    top: -112.5px;
    left: -175px;
    img {
      width: 100%;
      // opacity: 0.3;
      animation-name: animar_fondo;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  .signUpForm,
  .loginForm {
    position: absolute;
    opacity: 0;
    display: none;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    input {
      padding: 20px 5px;
      margin-top: 40px;
      width: 300px;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      text-align: left;
      color: #444;
      background-color: rgba(255, 255, 255, 0.75);
    }
    h2 {
      margin-top: 90px;
      font-weight: 600;
      font-size: 28px;
      color: #fff;
      letter-spacing: 6px;
    }
    .back {
      color: #fff;
      position: relative;
      float: left;
      margin: 13px;
      margin-left: 20px;
      cursor: pointer;
      .goBack {
        font-size: 28px
      }
    }
    .loginBtn {
      margin-top: 75px;
      width: 125px;
      font-size: 20px;
    }
  }
  .signUpForm {
    float: left;
    h2 {
      margin-bottom: 0;
      margin-top: 60px;
    }
    input {
      margin-top: 23px;
    }
    .signUpBtn {
      margin-top: 35px;
      width: 125px;
      font-size: 20px;
    }
  }
}

.visitLogin {
  position: absolute;
  bottom: 100px;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  .loginBtn {
    font-family: 'kaiti';
    width: 150px;
    height: 50px;
    font-size: 24px;
    letter-spacing: 4px;
    span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, $buttonColor);
      animation: btn-anim1 1s linear infinite;
  }
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $buttonColor);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $buttonColor);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $buttonColor);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  }
}

.active,
.signUpActive {
  box-shadow: 0px 0px 30px -10px rgba(255, 255, 255, 0.5);
  height: 525px;
  top: -100px;
  left: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
  .formImg {
    top: -62.5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.signUpActive {
  left: 400px;
  .formImg {
    left: -575px;
  }
}

@-webkit-keyframes animar_fondo {
  from {
    -webkit-transform: scale(1) translate(0px);
    -moz-transform: scale(1) translate(0px);
    -ms-transform: scale(1) translate(0px);
    -o-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.5) translate(50px);
    -moz-transform: scale(1.5) translate(50px);
    -ms-transform: scale(1.5) translate(50px);
    -o-transform: scale(1.5) translate(50px);
    transform: scale(1.5) translate(50px);
  }
}